force-app/main/default/flows/NEPA_CE_Screener.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Three-tier CE screening for IndividualApplication. Stage 0: NAICS routing (sets agency namespace + confidence modifier). Stage 1: Tier 1 high-confidence sector+type rules. Stage 2: Tier 2 action-type discriminators. Post-match: acreage threshold and GIS extraordinary circumstances checks. Writes nepa_review_type__c, nepa_process_code__c, nepa_screening_confidence__c, nepa_classification_basis__c back to IndividualApplication. Fires after-save on create/update when screening input fields change.</description>
    <label>NEPA CE Screener</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Draft</status>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->

    <!-- Working variables -->
    <variables>
        <name>var_AgencyAbbr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SectorKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TypeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReviewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue>EA</stringValue></value>
    </variables>
    <variables>
        <name>var_CECode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Confidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue>Low</stringValue></value>
    </variables>
    <variables>
        <name>var_ClassificationBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NAICSConfidenceModifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Tier1Matched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- SObject record variables -->
    <variables>
        <name>rec_RelatedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program</objectType>
    </variables>
    <variables>
        <name>rec_NAICSRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_CE_Screening_Rule__mdt</objectType>
    </variables>
    <variables>
        <name>rec_Tier1Rule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_CE_Screening_Rule__mdt</objectType>
    </variables>
    <variables>
        <name>rec_Tier2Rule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_CE_Screening_Rule__mdt</objectType>
    </variables>
    <variables>
        <name>rec_AcreageRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_CE_Screening_Rule__mdt</objectType>
    </variables>
    <variables>
        <name>rec_GISDisqualifyRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_CE_Screening_Rule__mdt</objectType>
    </variables>

    <!-- ============================================================
         TRIGGER / START
         Fires async after-commit when any CE screening input changes.
    ============================================================ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Decision_HasRelatedProject</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>or</filterLogic>
        <filters>
            <field>nepa_action_type__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_disturbance_acres__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_extraordinary_circumstances__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_related_project__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
    </start>

    <!-- ============================================================
         STAGE 0-A: Does the application have a related project?
    ============================================================ -->
    <decisions>
        <name>Decision_HasRelatedProject</name>
        <label>Has Related Project?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Project — skip to GIS check</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_GISCircumstances</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Related_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RelatedProject</targetReference>
            </connector>
            <label>Has Project</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STAGE 0-B: Get related Program (for agency + NAICS)
    ============================================================ -->
    <recordLookups>
        <name>Get_RelatedProject</name>
        <label>Get Related Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AgencyFromProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <object>Program</object>
        <outputReference>rec_RelatedProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_lead_agency__r.Name</queriedFields>
        <queriedFields>nepa_project_sector__c</queriedFields>
        <queriedFields>nepa_project_type__c</queriedFields>
        <queriedFields>nepa_applicant_naics__c</queriedFields>
    </recordLookups>

    <!-- Extract agency abbreviation from Account name (first word) -->
    <assignments>
        <name>Assign_AgencyFromProject</name>
        <label>Set Agency Abbreviation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_AgencyAbbr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_RelatedProject.nepa_lead_agency__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SectorKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_RelatedProject.nepa_project_sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TypeKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_RelatedProject.nepa_project_type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_HasNAICS</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STAGE 0-C: NAICS routing (namespace + confidence modifier)
    ============================================================ -->
    <decisions>
        <name>Decision_HasNAICS</name>
        <label>Has Applicant NAICS Code?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No NAICS — skip routing</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_Tier1Rule</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_NAICS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_RelatedProject.nepa_applicant_naics__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NAICSRule</targetReference>
            </connector>
            <label>Has NAICS</label>
        </rules>
    </decisions>

    <recordLookups>
        <name>Get_NAICSRule</name>
        <label>Get NAICS Routing Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_NAICSFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>NAICS</stringValue></value>
        </filters>
        <filters>
            <field>NAICS_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_RelatedProject.nepa_applicant_naics__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <object>NEPA_CE_Screening_Rule__mdt</object>
        <outputReference>rec_NAICSRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CE_Namespace__c</queriedFields>
        <queriedFields>Confidence_Modifier__c</queriedFields>
        <queriedFields>Classification_Basis__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_NAICSFound</name>
        <label>NAICS Rule Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_Tier1Rule</targetReference>
        </defaultConnector>
        <rules>
            <name>NAICS_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_NAICSRule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NAICSModifier</targetReference>
            </connector>
            <label>NAICS Rule Found</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_NAICSModifier</name>
        <label>Store NAICS Confidence Modifier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NAICSConfidenceModifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_NAICSRule.Confidence_Modifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_NAICSRule.Classification_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tier1Rule</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STAGE 1: Tier 1 — high-confidence sector+type lookup
         Matches on Agency + Sector_Key (Contains) via record lookup
         ordered by Priority ASC, LIMIT 1.
    ============================================================ -->
    <recordLookups>
        <name>Get_Tier1Rule</name>
        <label>Get Tier 1 Screening Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Tier1Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>1</stringValue></value>
        </filters>
        <filters>
            <field>Agency__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_AgencyAbbr</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sector_Key__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_SectorKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <limit>1</limit>
        <object>NEPA_CE_Screening_Rule__mdt</object>
        <outputReference>rec_Tier1Rule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CE_Code__c</queriedFields>
        <queriedFields>Review_Type__c</queriedFields>
        <queriedFields>Confidence__c</queriedFields>
        <queriedFields>Requires_Acreage_Check__c</queriedFields>
        <queriedFields>Acreage_Threshold__c</queriedFields>
        <queriedFields>Requires_GIS_Check__c</queriedFields>
        <queriedFields>Classification_Basis__c</queriedFields>
        <queriedFields>Rule_Label__c</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>

    <decisions>
        <name>Decision_Tier1Found</name>
        <label>Tier 1 Rule Matched?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match — proceed to Tier 2</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Get_Tier2Rule</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier1_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier1Rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tier1Result</targetReference>
            </connector>
            <label>Tier 1 Matched</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_Tier1Result</name>
        <label>Apply Tier 1 Rule Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier1Rule.Review_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier1Rule.CE_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier1Rule.Confidence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier1Rule.Classification_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Tier1Matched</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Tier1RequiresAcreage</targetReference>
        </connector>
    </assignments>

    <!-- Tier 1 acreage branch -->
    <decisions>
        <name>Decision_Tier1RequiresAcreage</name>
        <label>Tier 1: Requires Acreage Check?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Acreage Check</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_Tier1RequiresGIS</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier1_NeedsAcreage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier1Rule.Requires_Acreage_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nepa_disturbance_acres__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Tier1AcreageExceeded</targetReference>
            </connector>
            <label>Needs Acreage Check and Acres Provided</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Tier1AcreageExceeded</name>
        <label>Tier 1: Acreage Threshold Exceeded?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Within Threshold</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_Tier1RequiresGIS</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier1_AcreageOver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_disturbance_acres__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>rec_Tier1Rule.Acreage_Threshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AcreageDowngrade</targetReference>
            </connector>
            <label>Acreage Exceeded</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_AcreageDowngrade</name>
        <label>Downgrade to EA: Acreage Exceeded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>EA</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value><stringValue></stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Medium</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Add</operator>
            <value><stringValue> | Downgraded to EA: disturbance acres exceeds CE threshold.</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_GISCircumstances</targetReference>
        </connector>
    </assignments>

    <!-- Tier 1 GIS branch -->
    <decisions>
        <name>Decision_Tier1RequiresGIS</name>
        <label>Tier 1: Requires GIS Check?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No GIS Check — apply NAICS modifier then write</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_ApplyNAICSModifier</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier1_NeedsGIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier1Rule.Requires_GIS_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_GISCircumstances</targetReference>
            </connector>
            <label>Needs GIS Check</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STAGE 2: Tier 2 — action-type discriminator
         Only reached when Tier 1 had no match.
    ============================================================ -->
    <recordLookups>
        <name>Get_Tier2Rule</name>
        <label>Get Tier 2 Screening Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Tier2Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>2</stringValue></value>
        </filters>
        <filters>
            <field>Agency__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var_AgencyAbbr</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action_Types__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.nepa_action_type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <limit>1</limit>
        <object>NEPA_CE_Screening_Rule__mdt</object>
        <outputReference>rec_Tier2Rule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CE_Code__c</queriedFields>
        <queriedFields>Review_Type__c</queriedFields>
        <queriedFields>Confidence__c</queriedFields>
        <queriedFields>Requires_Acreage_Check__c</queriedFields>
        <queriedFields>Acreage_Threshold__c</queriedFields>
        <queriedFields>Requires_GIS_Check__c</queriedFields>
        <queriedFields>Classification_Basis__c</queriedFields>
        <queriedFields>Rule_Label__c</queriedFields>
        <sortField>Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>

    <decisions>
        <name>Decision_Tier2Found</name>
        <label>Tier 2 Rule Matched?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match — default EA/Low</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_DefaultEA</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier2_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier2Rule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tier2Result</targetReference>
            </connector>
            <label>Tier 2 Matched</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_Tier2Result</name>
        <label>Apply Tier 2 Rule Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier2Rule.Review_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier2Rule.CE_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier2Rule.Confidence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Tier2Rule.Classification_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Tier2RequiresAcreage</targetReference>
        </connector>
    </assignments>

    <!-- Tier 2 acreage branch -->
    <decisions>
        <name>Decision_Tier2RequiresAcreage</name>
        <label>Tier 2: Requires Acreage Check?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Acreage Check</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_Tier2RequiresGIS</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier2_NeedsAcreage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier2Rule.Requires_Acreage_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nepa_disturbance_acres__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Tier2AcreageExceeded</targetReference>
            </connector>
            <label>Needs Acreage Check and Acres Provided</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Tier2AcreageExceeded</name>
        <label>Tier 2: Acreage Threshold Exceeded?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Within Threshold</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_Tier2RequiresGIS</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier2_AcreageOver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_disturbance_acres__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>rec_Tier2Rule.Acreage_Threshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tier2AcreageDowngrade</targetReference>
            </connector>
            <label>Acreage Exceeded</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_Tier2AcreageDowngrade</name>
        <label>Tier 2: Downgrade to EA — Acreage Exceeded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>EA</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value><stringValue></stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Medium</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Add</operator>
            <value><stringValue> | Downgraded to EA: disturbance acres exceeds CE threshold.</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_GISCircumstances</targetReference>
        </connector>
    </assignments>

    <decisions>
        <name>Decision_Tier2RequiresGIS</name>
        <label>Tier 2: Requires GIS Check?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No GIS Check</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_ApplyNAICSModifier</targetReference>
        </defaultConnector>
        <rules>
            <name>Tier2_NeedsGIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Tier2Rule.Requires_GIS_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_GISCircumstances</targetReference>
            </connector>
            <label>Needs GIS Check</label>
        </rules>
    </decisions>

    <!-- Default when no rule matches at any tier -->
    <assignments>
        <name>Assign_DefaultEA</name>
        <label>Default: EA / Low Confidence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>EA</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value><stringValue></stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Low</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>No CE screening rule matched sector/type/action-type combination. Defaulting to EA. SME review required.</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_GISCircumstances</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STAGE 3: GIS Extraordinary Circumstances Check
         Any value in nepa_extraordinary_circumstances__c forces EA
         regardless of what Tier 1/2 recommended.
    ============================================================ -->
    <decisions>
        <name>Decision_GISCircumstances</name>
        <label>Extraordinary Circumstances Present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Extraordinary Circumstances</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_ApplyNAICSModifier</targetReference>
        </defaultConnector>
        <rules>
            <name>GIS_Circumstances_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_extraordinary_circumstances__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GISDowngrade</targetReference>
            </connector>
            <label>Extraordinary Circumstances Present</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_GISDowngrade</name>
        <label>GIS Disqualify: Override to EA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>EA</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CECode</assignToReference>
            <operator>Assign</operator>
            <value><stringValue></stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Low</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Add</operator>
            <value><stringValue> | OVERRIDDEN to EA: extraordinary circumstances flagged ({!$Record.nepa_extraordinary_circumstances__c}). CE disqualified per CEQ regulations.</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ApplyNAICSModifier</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STAGE 4: Apply NAICS confidence modifier if Low
    ============================================================ -->
    <decisions>
        <name>Decision_ApplyNAICSModifier</name>
        <label>Apply NAICS Confidence Modifier?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Modifier</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Build_ClassificationBasis</targetReference>
        </defaultConnector>
        <rules>
            <name>NAICS_Modifier_IsLow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NAICSConfidenceModifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Low</stringValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Confidence</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue><stringValue>Low</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DowngradeConfidenceLow</targetReference>
            </connector>
            <label>NAICS Modifier = Low and Current Confidence Is Not Low</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_DowngradeConfidenceLow</name>
        <label>Downgrade Confidence to Low (NAICS)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Low</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Add</operator>
            <value><stringValue> | Confidence downgraded to Low: NAICS code indicates high-risk industry (extraction/production). SME review required.</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Build_ClassificationBasis</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STAGE 5: Finalize classification basis text and write back
    ============================================================ -->
    <assignments>
        <name>Build_ClassificationBasis</name>
        <label>Finalize Classification Basis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ClassificationBasis</assignToReference>
            <operator>Add</operator>
            <value><stringValue> | Screened: {!$Flow.CurrentDateTime} | Review Type: {!var_ReviewType} | CE Code: {!var_CECode} | Confidence: {!var_Confidence}</stringValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ScreeningFields</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         WRITE BACK to IndividualApplication
    ============================================================ -->
    <!-- code-analyzer-suppress flow:SameRecordUpdate — intentional async after-save write-back via AsyncAfterCommit scheduledPath; this is the recommended pattern for expensive same-record updates -->
    <recordUpdates>
        <name>Update_ScreeningFields</name>
        <label>Update CE Screening Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_review_type__c</field>
            <value>
                <elementReference>var_ReviewType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_process_code__c</field>
            <value>
                <elementReference>var_CECode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_screening_confidence__c</field>
            <value>
                <elementReference>var_Confidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_classification_basis__c</field>
            <value>
                <elementReference>var_ClassificationBasis</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>

    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>

</Flow>
