force-app/main/default/flows/NEPA_Administrative_Record_Checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Priority 9: Recalculates IndividualApplication.nepa_record_completeness__c and nepa_missing_documents__c whenever a ContentVersion record with the nepa_permit_document record type is created or updated. Queries NEPA_Required_Document__mdt for the required document types for the process's review type. Fetches ALL approved/published documents for the process in a single pre-loop query, then checks presence in-memory (no DB-in-loop). Writes percentage and missing-document list back to the parent IndividualApplication. Fires after-save async on ContentVersion create/update.</description>
    <label>NEPA Administrative Record Checker</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Draft</status>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->

    <variables>
        <name>var_RequiredCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>0.0</numberValue></value>
    </variables>
    <variables>
        <name>var_PresentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>0.0</numberValue></value>
    </variables>
    <variables>
        <name>var_CompletenessScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value><numberValue>0.0</numberValue></value>
    </variables>
    <variables>
        <name>var_MissingDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ReviewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec_Timeline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationTimeline</objectType>
    </variables>
    <variables>
        <name>rec_Process</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>col_RequiredRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Required_Document__mdt</objectType>
    </variables>
    <variables>
        <name>var_CurrentRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Required_Document__mdt</objectType>
    </variables>
    <!-- Pre-fetched collection of ALL approved/published docs for this process — queried once before the loop -->
    <variables>
        <name>col_ApprovedDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <!-- Single doc pulled from col_ApprovedDocs during inner loop for type-matching -->
    <variables>
        <name>var_CurrentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <!-- Flag: set to true when a matching doc is found for the current rule -->
    <variables>
        <name>var_DocFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- ============================================================
         FORMULAS
    ============================================================ -->

    <formulas>
        <name>formula_CompletenessScore</name>
        <dataType>Number</dataType>
        <scale>1</scale>
        <expression>IF({!var_RequiredCount} > 0, ({!var_PresentCount} / {!var_RequiredCount}) * 100, 0)</expression>
    </formulas>

    <!-- ============================================================
         TRIGGER: after ContentVersion create/update on permit_document RecordType
    ============================================================ -->

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ContentVersion</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Decision_HasRelatedCaseEvent</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value><stringValue>nepa_permit_document</stringValue></value>
        </filters>
        <filters>
            <field>nepa_status__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
    </start>

    <!-- ============================================================
         STEP 1: Resolve IndividualApplication via related case event
    ============================================================ -->

    <decisions>
        <name>Decision_HasRelatedCaseEvent</name>
        <label>Has Related Case Event?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Case Event — cannot resolve process</defaultConnectorLabel>
        <rules>
            <name>Has_CaseEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_case_event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ApplicationTimeline</targetReference>
            </connector>
            <label>Has Case Event</label>
        </rules>
    </decisions>

    <recordLookups>
        <name>Get_ApplicationTimeline</name>
        <label>Get ApplicationTimeline (to find IndividualApplication)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TimelineFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.nepa_related_case_event__c</elementReference></value>
        </filters>
        <object>ApplicationTimeline</object>
        <outputReference>rec_Timeline</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IndividualApplicationId</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_TimelineFound</name>
        <label>Timeline Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Timeline Record</defaultConnectorLabel>
        <rules>
            <name>Timeline_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Timeline.IndividualApplicationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ProcessId</targetReference>
            </connector>
            <label>Timeline Found</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_ProcessId</name>
        <label>Store Process Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ProcessId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>rec_Timeline.IndividualApplicationId</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Process</targetReference>
        </connector>
    </assignments>

    <recordLookups>
        <name>Get_Process</name>
        <label>Get IndividualApplication (for review type)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ProcessHasReviewType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_ProcessId</elementReference></value>
        </filters>
        <object>IndividualApplication</object>
        <outputReference>rec_Process</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_review_type__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_ProcessHasReviewType</name>
        <label>Process Has Review Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Review Type — skip</defaultConnectorLabel>
        <rules>
            <name>Has_ReviewType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Process.nepa_review_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ReviewType</targetReference>
            </connector>
            <label>Has Review Type</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_ReviewType</name>
        <label>Store Review Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>rec_Process.nepa_review_type__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RequiredDocRules</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 2: Load all required document rules (one query)
    ============================================================ -->

    <recordLookups>
        <name>Get_RequiredDocRules</name>
        <label>Get Required Document Rules for Review Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_RulesFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review_Type__c</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_ReviewType</elementReference></value>
        </filters>
        <filters>
            <field>Is_Required__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <object>NEPA_Required_Document__mdt</object>
        <outputReference>col_RequiredRules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Stage_Required_By__c</queriedFields>
        <sortField>Display_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>

    <decisions>
        <name>Decision_RulesFound</name>
        <label>Required Document Rules Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Rules — write 0 score</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Update_CompletenessFields</targetReference>
        </defaultConnector>
        <rules>
            <name>Rules_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_RequiredRules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AllApprovedDocs</targetReference>
            </connector>
            <label>Rules Found</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STEP 3: Pre-fetch ALL approved/published docs for this process
                 in a SINGLE query before the loop (eliminates DB-in-loop)
    ============================================================ -->

    <recordLookups>
        <name>Get_AllApprovedDocs</name>
        <label>Fetch All Approved or Published Documents for This Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RequiredRules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_related_case_event__r.IndividualApplicationId</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_ProcessId</elementReference></value>
        </filters>
        <filters>
            <field>nepa_status__c</field>
            <operator>In</operator>
            <value><stringValue>Approved</stringValue></value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>col_ApprovedDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_document_type__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         STEP 4: Outer loop — iterate each required document rule
    ============================================================ -->

    <loops>
        <name>Loop_RequiredRules</name>
        <label>Loop Required Document Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_RequiredRules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentRule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Calculate_CompletenessScore</targetReference>
        </noMoreValuesConnector>
    </loops>

    <assignments>
        <name>Assign_CurrentRule</name>
        <label>Set Current Rule and Reset Doc Found Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentRule</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_RequiredRules</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RequiredCount</assignToReference>
            <operator>Add</operator>
            <value><numberValue>1.0</numberValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ApprovedDocs</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 5: Inner loop — scan pre-fetched docs for a type match
                 No database call here — purely in-memory iteration
    ============================================================ -->

    <loops>
        <name>Loop_ApprovedDocs</name>
        <label>Scan Pre-Fetched Docs for Type Match (in-memory)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_ApprovedDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentDoc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_DocFound</targetReference>
        </noMoreValuesConnector>
    </loops>

    <assignments>
        <name>Assign_CurrentDoc</name>
        <label>Set Current Doc Iteration Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentDoc</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Loop_ApprovedDocs</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TypeMatch</targetReference>
        </connector>
    </assignments>

    <decisions>
        <name>Decision_TypeMatch</name>
        <label>Doc Type Matches Required Rule?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Type_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentDoc.nepa_document_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><elementReference>var_CurrentRule.Document_Type__c</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocFound</targetReference>
            </connector>
            <label>Type Matches</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_DocFound</name>
        <label>Mark Doc Found and Exit Inner Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <!-- Jump directly to post-inner-loop decision rather than continuing iteration -->
        <connector>
            <targetReference>Decision_DocFound</targetReference>
        </connector>
    </assignments>

    <decisions>
        <name>Decision_DocFound</name>
        <label>Was Required Document Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Missing — add to gap list</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_AddToMissingList</targetReference>
        </defaultConnector>
        <rules>
            <name>Doc_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DocFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IncrementPresentCount</targetReference>
            </connector>
            <label>Document Present</label>
        </rules>
    </decisions>

    <assignments>
        <name>Assign_IncrementPresentCount</name>
        <label>Increment Present Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_PresentCount</assignToReference>
            <operator>Add</operator>
            <value><numberValue>1.0</numberValue></value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Assign_AddToMissingList</name>
        <label>Add to Missing Documents List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Add</operator>
            <value><elementReference>var_CurrentRule.Document_Type__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Add</operator>
            <value><stringValue>; </stringValue></value>
        </assignmentItems>
    </assignments>

    <!-- ============================================================
         STEP 6: Score and write back
    ============================================================ -->

    <assignments>
        <name>Calculate_CompletenessScore</name>
        <label>Calculate Completeness Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CompletenessScore</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>formula_CompletenessScore</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CompletenessFields</targetReference>
        </connector>
    </assignments>

    <!-- code-analyzer-suppress flow:SameRecordUpdate — this updates IndividualApplication (the parent), not ContentVersion (the trigger record); false positive on related-object update -->
    <recordUpdates>
        <name>Update_CompletenessFields</name>
        <label>Update Completeness Fields on IndividualApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_record_completeness__c</field>
            <value><elementReference>var_CompletenessScore</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_missing_documents__c</field>
            <value><elementReference>var_MissingDocs</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_record_completeness_updated__c</field>
            <value><elementReference>$Flow.CurrentDateTime</elementReference></value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>var_ProcessId</elementReference></value>
        </filters>
    </recordUpdates>

    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>

</Flow>
