force-app/main/default/flows/NEPA_CE_Determination_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Priority 2: Routes IndividualApplication records after CE screening completes. Fires after-save async when nepa_screening_confidence__c or nepa_review_type__c is changed. High-confidence CE: creates an ApplicationTimeline CE Determination event and a task to activate the CE Action Plan. Medium-confidence CE: creates a coordinator review task with pre-populated CE code and basis. Low confidence or EA/EIS: creates a scoping task to document the required review type and classification basis.</description>
    <label>NEPA CE Determination Router</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Draft</status>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->

    <variables>
        <name>var_ReviewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Confidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaskPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue>Normal</stringValue></value>
    </variables>
    <variables>
        <name>var_DueDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>5.0</numberValue></value>
    </variables>

    <!-- ============================================================
         FORMULAS
    ============================================================ -->

    <formulas>
        <name>formula_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!var_DueDays}</expression>
    </formulas>

    <!-- ============================================================
         TRIGGER: after-save async on IndividualApplication
         when nepa_screening_confidence__c or nepa_review_type__c changes
    ============================================================ -->

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_ScreeningValues</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>or</filterLogic>
        <filters>
            <field>nepa_screening_confidence__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
    </start>

    <!-- ============================================================
         STEP 1: Capture screening values from the saved record
    ============================================================ -->

    <assignments>
        <name>Assign_ScreeningValues</name>
        <label>Capture Screening Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ReviewType</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Record.nepa_review_type__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Confidence</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Record.nepa_screening_confidence__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ReviewType</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 2: Route by review type
    ============================================================ -->

    <decisions>
        <name>Decision_ReviewType</name>
        <label>Review Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>EA or EIS</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_ScopingTask</targetReference>
        </defaultConnector>
        <rules>
            <name>ReviewType_CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReviewType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>CE</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_CEConfidence</targetReference>
            </connector>
            <label>CE</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STEP 3a: For CE — branch by confidence level
    ============================================================ -->

    <decisions>
        <name>Decision_CEConfidence</name>
        <label>CE Confidence Level?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Medium or Low</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_MediumConfidenceTask</targetReference>
        </defaultConnector>
        <rules>
            <name>Confidence_High</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Confidence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>High</stringValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Confidence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Medium-High</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CeDeterminationEvent</targetReference>
            </connector>
            <label>High or Medium-High</label>
        </rules>
    </decisions>

    <!-- ============================================================
         BRANCH 1: High-confidence CE
         Create an ApplicationTimeline CE Determination event, then a
         coordinator task to activate the CE Process Milestones plan
    ============================================================ -->

    <recordCreates>
        <name>Create_CeDeterminationEvent</name>
        <label>Create CE Determination Timeline Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>IndividualApplicationId</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_event_type__c</field>
            <value><stringValue>CE Determination</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_status__c</field>
            <value><stringValue>Pending</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_event_description__c</field>
            <value><elementReference>$Record.nepa_classification_basis__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_source__c</field>
            <value><stringValue>CE Screener</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_tier__c</field>
            <value><stringValue>1</stringValue></value>
        </inputAssignments>
        <object>ApplicationTimeline</object>
        <connector>
            <targetReference>Assign_HighConfidenceTask</targetReference>
        </connector>
    </recordCreates>

    <assignments>
        <name>Assign_HighConfidenceTask</name>
        <label>Set High-Confidence Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Activate CE Process Milestones Action Plan</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Record.nepa_classification_basis__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskPriority</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Normal</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DueDays</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>2.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         BRANCH 2: Medium-confidence CE — coordinator review task
    ============================================================ -->

    <assignments>
        <name>Assign_MediumConfidenceTask</name>
        <label>Set Medium-Confidence Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Review CE Screening — Manual Confirmation Required</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Record.nepa_classification_basis__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskPriority</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>High</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DueDays</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>5.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         BRANCH 3: EA/EIS — scoping task
    ============================================================ -->

    <assignments>
        <name>Assign_ScopingTask</name>
        <label>Set Scoping Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSubject</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Initiate Full NEPA Review — Scope and Document Review Type</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Record.nepa_classification_basis__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskPriority</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Normal</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DueDays</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>10.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         FINAL: Create Task (shared by all three branches)
    ============================================================ -->

    <recordCreates>
        <name>Create_Task</name>
        <label>Create Routing Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value><elementReference>var_TaskSubject</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>var_TaskDescription</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><elementReference>var_TaskPriority</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>formula_TaskDueDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>$Record.OwnerId</elementReference></value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

</Flow>
