force-app/main/default/flows/NEPA_Defensibility_Trigger_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Calls NEPA_Defensibility_Gap_Checker when a public engagement event is created or deleted for a process. Passes the nepa_process__c Id to the gap checker subflow.</description>
    <label>NEPA Defensibility Trigger - Engagement</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Draft</status>

    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <decisions>
        <name>Decision_HasProcess</name>
        <label>Engagement Has Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Process</defaultConnectorLabel>
        <rules>
            <name>Has_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_GapChecker</targetReference>
            </connector>
            <label>Has Process</label>
        </rules>
    </decisions>

    <subflows>
        <name>Call_GapChecker</name>
        <label>Call Defensibility Gap Checker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>NEPA_Defensibility_Gap_Checker</flowName>
        <inputAssignments>
            <name>inp_ProcessId</name>
            <value>
                <elementReference>$Record.nepa_process__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>nepa_engagement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Decision_HasProcess</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
    </start>
</Flow>
